beepell/test/com/beepell/execution/importer.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions 
  targetNamespace="http://beepell.com/samples/correlation/trade"
  xmlns:srv="http://beepell.com/samples/correlation/trade"
  xmlns:sch="http://beepell.com/samples/correlation/trade/schema" 
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <wsdl:types>
     <xsd:schema
       targetNamespace="http://beepell.com/samples/correlation/trade/schema"
       elementFormDefault="qualified">
  
         <xsd:complexType name="order">
           <xsd:sequence>
             <xsd:element name="id" type="xsd:integer" />
             <xsd:any minOccurs="0"/>
           </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="invoice">
           <xsd:sequence>
             <xsd:element name="id" type="xsd:integer" />
             <xsd:element name="order" type="xsd:integer" />
             <xsd:any minOccurs="0"/>
           </xsd:sequence>
         </xsd:complexType>
          
     </xsd:schema>
   </wsdl:types>
  
  <plnk:partnerLinkType name="trade">
    <plnk:role name="vendee" portType="srv:vendeePortType" />
    <plnk:role name="vendor" portType="srv:vendorPortType" />
  </plnk:partnerLinkType>

  <vprop:property name="orderId" type="xsd:integer" />
  <vprop:property name="invoiceId" type="xsd:integer" />

  <vprop:propertyAlias
     propertyName="srv:orderId"
     messageType="srv:orderMessage" part="order">
     <vprop:query>sch:id</vprop:query>
  </vprop:propertyAlias>

  <vprop:propertyAlias
     propertyName="srv:orderId"
     messageType="srv:invoiceMessage" part="invoice">
     <vprop:query>sch:order</vprop:query>
  </vprop:propertyAlias>

  <vprop:propertyAlias
     propertyName="srv:invoiceId"
     messageType="srv:invoiceMessage" part="invoice">
     <vprop:query>sch:id</vprop:query>
  </vprop:propertyAlias>
    
  <wsdl:message name="orderMessage">
    <wsdl:part name="order" type="sch:order" />
  </wsdl:message>

  <wsdl:message name="invoiceMessage">
    <wsdl:part name="invoice" type="sch:invoice" />
  </wsdl:message>
  
  <wsdl:portType name="vendeePortType">
    <wsdl:operation name="invoice">
      <wsdl:input message="srv:invoiceMessage" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="vendorPortType">
    <wsdl:operation name="order">
      <wsdl:input message="srv:orderMessage" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="vendorBinding" type="srv:vendorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <wsdl:operation name="order">
          <soap:operation soapAction="http://beepell.com/samples/correlation/trade"/>
          <wsdl:input>
              <soap:body use="literal" namespace="http://beepell.com/samples/correlation/trade" />
          </wsdl:input>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="vendeeBinding" type="srv:vendeePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <wsdl:operation name="invoice">
          <soap:operation soapAction="http://beepell.com/samples/correlation/trade"/>
          <wsdl:input>
              <soap:body use="literal" namespace="http://beepell.com/samples/correlation/trade" />
          </wsdl:input>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="importerService">
      <wsdl:port name="vendorPort" binding="srv:vendorBinding">
          <soap:address location="http://localhost:9120/samples/correlation/trade/importer/vendor"/>
      </wsdl:port>
      <wsdl:port name="vendeePort" binding="srv:vendeeBinding">
          <soap:address location="http://localhost:9120/samples/correlation/trade/importer/vendee"/>
      </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
