beepell/test/com/beepell/activity/structured/pick2.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions 
  targetNamespace="http://beepell.com/samples/proxy/definitions" 
  xmlns:srv="http://beepell.com/samples/proxy/definitions" 
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  
  <plnk:partnerLinkType name="textPartnerLinkType">
    <plnk:role name="textProviderRole" portType="srv:textPortType" />
  </plnk:partnerLinkType>
  
  <plnk:partnerLinkType name="numberPartnerLinkType">
    <plnk:role name="numberProviderRole" portType="srv:numberPortType" />
  </plnk:partnerLinkType>
  
  <wsdl:message name="textMessage">
    <wsdl:part name="text" type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="numberMessage">
    <wsdl:part name="number" type="xsd:int" />
  </wsdl:message>
  
  <wsdl:portType name="textPortType">
    <wsdl:operation name="textOperation">
      <wsdl:input message="srv:textMessage" />
      <wsdl:output message="srv:textMessage" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="numberPortType">
    <wsdl:operation name="numberOperation">
      <wsdl:input message="srv:numberMessage" />
      <wsdl:output message="srv:numberMessage" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="textBinding" type="srv:textPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <wsdl:operation name="textOperation">
          <soap:operation soapAction="http://beepell.com/test/text"/>
          <wsdl:input>
              <soap:body use="literal" namespace="http://beepell.com/samples/proxy/definitions" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" namespace="http://beepell.com/samples/proxy/definitions" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="numberBinding" type="srv:numberPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <wsdl:operation name="numberOperation">
          <soap:operation soapAction="http://beepell.com/test/number"/>
          <wsdl:input>
              <soap:body use="literal" namespace="http://beepell.com/samples/proxy/definitions" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" namespace="http://beepell.com/samples/proxy/definitions" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="textService">
      <wsdl:port name="textPort" binding="srv:textBinding">
          <soap:address location="http://localhost:9020/test/text"/>
      </wsdl:port>
  </wsdl:service>

  <wsdl:service name="numberService">
      <wsdl:port name="numberPort" binding="srv:numberBinding">
          <soap:address location="http://localhost:9030/test/number"/>
      </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
