beepell/test/com/beepell/repository/PIECOMredefines.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0" targetNamespace="http://rep.oio.dk/ubl/xml/schemas/0p71/common/" elementFormDefault="qualified" xmlns:com="http://rep.oio.dk/ubl/xml/schemas/0p71/common/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="CoreComponentParametersDk.xsd"></xsd:include>
<xsd:include schemaLocation="CoreComponentTypesDk.xsd"></xsd:include>
<xsd:element name="AccountsContact" type="com:AccountsContactType"></xsd:element>
<xsd:complexType name="AccountsContactType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
<xsd:element ref="com:Phone" minOccurs="0" />
<xsd:element ref="com:Fax" minOccurs="0" />
<xsd:element ref="com:E-Mail" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ActualPackage" type="com:ActualPackageType"></xsd:element>
<xsd:complexType name="ActualPackageType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:ReturnableMaterialIndicator" minOccurs="0" />
<xsd:element ref="com:ContainedPackage" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ActualShipment" type="com:ActualShipmentType"></xsd:element>
<xsd:complexType name="ActualShipmentType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:ServicelevelCode" minOccurs="0" />
<xsd:element ref="com:HandlingInstructions" minOccurs="0" />
<xsd:element ref="com:HandlingTypeCode" minOccurs="0" />
<xsd:element ref="com:HandlingCode" minOccurs="0" />
<xsd:element ref="com:Information" minOccurs="0" />
<xsd:element ref="com:GrossWeightMeasure" minOccurs="0" />
<xsd:element ref="com:NetWeightMeasure" minOccurs="0" />
<xsd:element ref="com:NetNetWeightMeasure" minOccurs="0" />
<xsd:element ref="com:GrossVolumeMeasure" minOccurs="0" />
<xsd:element ref="com:NetVolumeMeasure" minOccurs="0" />
<xsd:element ref="com:DeliveryRequirement" minOccurs="0" />
<xsd:element ref="com:TransportContract" minOccurs="0" />
<xsd:element ref="com:ShipmentStage" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:TransportEquipment" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Address" type="com:AddressType"></xsd:element>
<xsd:complexType name="AddressType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Street" minOccurs="0" />
<xsd:element ref="com:AdditionalStreet" minOccurs="0" />
<xsd:element ref="com:HouseNumber" minOccurs="0" />
<xsd:element ref="com:InhouseMail" minOccurs="0" />
<xsd:element ref="com:CityName" minOccurs="0" />
<xsd:element ref="com:PostalZone" minOccurs="0" />
<xsd:element ref="com:Country" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AllowanceCharge" type="com:AllowanceChargeType"></xsd:element>
<xsd:complexType name="AllowanceChargeType">
<xsd:sequence>
<xsd:element ref="com:ID" minOccurs="1" />
<xsd:element ref="com:ChargeIndicator" minOccurs="1" />
<xsd:element ref="com:MultiplierReasonCode" minOccurs="0" />
<xsd:element ref="com:MultiplierFactorQuantity" minOccurs="0" />
<xsd:element ref="com:AllowanceChargeAmount" minOccurs="1" maxOccurs="unbounded" />
<xsd:element ref="com:BuyersReferenceID" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AlternativeOrderLine" type="com:AlternativeOrderLineType"></xsd:element>
<xsd:complexType name="AlternativeOrderLineType">
<xsd:sequence>
<xsd:element ref="com:BuyersID" />
<xsd:element ref="com:LineExtensionAmount" minOccurs="0" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:MinimumQuantity" minOccurs="0" />
<xsd:element ref="com:MaximumQuantity" minOccurs="0" />
<xsd:element ref="com:MaximumBackorderQuantity" minOccurs="0" />
<xsd:element ref="com:MinimumBackorderQuantity" minOccurs="0" />
<xsd:element ref="com:SubstitutionStatusCode" minOccurs="0" />
<xsd:element ref="com:Item" />
<xsd:element ref="com:DeliveryRequirement" />
<xsd:element ref="com:AllowanceCharge" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:BasePrice" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="BasePrice" type="com:BasePriceType"></xsd:element>
<xsd:complexType name="BasePriceType">
<xsd:sequence>
<xsd:element ref="com:PriceAmount" />
<xsd:element ref="com:BaseQuantity" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="BuyerContact" type="com:BuyerContactType"></xsd:element>
<xsd:element name="BuyerParty" type="com:BuyerPartyType"></xsd:element>
<xsd:complexType name="BuyerPartyType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:AccountCode" minOccurs="0" />
<xsd:element ref="com:PartyName" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Address" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:BuyerContact" minOccurs="1" maxOccurs="4" />
<xsd:element ref="com:ExtensibleContent" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="BuyersItemIdentification" type="com:BuyersItemIdentificationType"></xsd:element>
<xsd:complexType name="BuyersItemIdentificationType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CardAccount" type="com:CardAccountType"></xsd:element>
<xsd:complexType name="CardAccountType">
<xsd:sequence>
<xsd:element ref="com:PrimaryAccountNumberID" />
<xsd:element ref="com:TypeCode" />
<xsd:element ref="com:CustomerCode" minOccurs="0" />
<xsd:element ref="com:ExpiryDate" minOccurs="0" />
<xsd:element ref="com:IssuerID" minOccurs="0" />
<xsd:element ref="com:IssueNumberCode" minOccurs="0" />
<xsd:element ref="com:Cv2" minOccurs="0" />
<xsd:element ref="com:ChipIndicator" minOccurs="0" />
<xsd:element ref="com:ChipApplicationID" minOccurs="0" />
<xsd:element ref="com:Holder" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CatalogueItemIdentification" type="com:CatalogueItemIdentificationType"></xsd:element>
<xsd:complexType name="CatalogueItemIdentificationType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CategoryTotal" type="com:CategoryTotalType"></xsd:element>
<xsd:complexType name="CategoryTotalType">
<xsd:sequence>
<xsd:element ref="com:RateCategoryCodeID" minOccurs="1" />
<xsd:element ref="com:RatePercentNumeric" minOccurs="1" />
<xsd:element ref="com:TaxAmounts" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CommodityClassification" type="com:CommodityClassificationType"></xsd:element>
<xsd:complexType name="CommodityClassificationType">
<xsd:sequence>
<xsd:element ref="com:CommodityCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ContactParty" type="com:ContactPartyType"></xsd:element>
<xsd:complexType name="ContactPartyType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:PartyName" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Contact" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Language" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Address" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Contact" type="com:ContactType"></xsd:element>
<xsd:complexType name="ContactType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
<xsd:element ref="com:Phone" minOccurs="0" />
<xsd:element ref="com:Fax" minOccurs="0" />
<xsd:element ref="com:E-Mail" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ContainedPackage" type="com:ContainedPackageType"></xsd:element>
<xsd:complexType name="ContainedPackageType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:ReturnableMaterialIndicator" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Contract" type="com:ContractType"></xsd:element>
<xsd:complexType name="ContractType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
<xsd:element ref="com:TypeCode" minOccurs="0" />
<xsd:element ref="com:ValidityPeriod" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Country" type="com:CountryType"></xsd:element>
<xsd:complexType name="CountryType">
<xsd:sequence>
<xsd:element ref="com:Code" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="CreditAccount" type="com:CreditAccountType"></xsd:element>
<xsd:complexType name="CreditAccountType">
<xsd:sequence>
<xsd:element ref="com:AccountCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DeliverToAddress" type="com:DeliverToAddressType"></xsd:element>
<xsd:complexType name="DeliverToAddressType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Postbox" minOccurs="0" />
<xsd:element ref="com:Building" minOccurs="0" />
<xsd:element ref="com:Floor" minOccurs="0" />
<xsd:element ref="com:Room" minOccurs="0" />
<xsd:element ref="com:Street" minOccurs="0" />
<xsd:element ref="com:AdditionalStreet" minOccurs="0" />
<xsd:element ref="com:HouseName" minOccurs="0" />
<xsd:element ref="com:HouseNumber" minOccurs="0" />
<xsd:element ref="com:InhouseMail" minOccurs="0" />
<xsd:element ref="com:Department" minOccurs="0" />
<xsd:element ref="com:CityName" minOccurs="0" />
<xsd:element ref="com:PostalZone" minOccurs="0" />
<xsd:element ref="com:CountrySub-Entity" minOccurs="0" />
<xsd:element ref="com:CountrySub-EntityCode" minOccurs="0" />
<xsd:element ref="com:Region" minOccurs="0" />
<xsd:element ref="com:District" minOccurs="0" />
<xsd:element ref="com:TimezoneOffsetMeasure" minOccurs="0" />
<xsd:element ref="com:Country" minOccurs="0" />
<xsd:element ref="com:LocationCoordinates" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DeliveryRequirement" type="com:DeliveryRequirementType"></xsd:element>
<xsd:complexType name="DeliveryRequirementType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:DeliverySchedule" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DeliverySchedule" type="com:DeliveryScheduleType"></xsd:element>
<xsd:complexType name="DeliveryScheduleType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:RequestedDeliveryDateTime" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DeliveryTerms" type="com:DeliveryTermsType"></xsd:element>
<xsd:complexType name="DeliveryTermsType">
<xsd:sequence>
<xsd:element ref="com:ID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DespatchLine" type="com:DespatchLineType"></xsd:element>
<xsd:complexType name="DespatchLineType">
<xsd:sequence>
<xsd:element ref="com:LineID" />
<xsd:element ref="com:OrderLineID" maxOccurs="unbounded" />
<xsd:element ref="com:DeliveredQuantity" />
<xsd:element ref="com:TofollowQuantity" minOccurs="0" />
<xsd:element ref="com:TofollowReason" minOccurs="0" />
<xsd:element ref="com:DeliverySchedule" />
<xsd:element ref="com:ReferencedTransportHandlingUnit" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DespatchedTransportHandlingUnit" type="com:DespatchedTransportHandlingUnitType"></xsd:element>
<xsd:complexType name="DespatchedTransportHandlingUnitType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:TypeCode" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DestinationCountry" type="com:DestinationCountryType"></xsd:element>
<xsd:complexType name="DestinationCountryType">
<xsd:sequence>
<xsd:element ref="com:Code" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DestinationParty" type="com:DestinationPartyType"></xsd:element>
<xsd:complexType name="DestinationPartyType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:AccountCode" minOccurs="0" />
<xsd:element ref="com:PartyName" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Contact" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Language" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Address" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ExchangeRate" type="com:ExchangeRateType"></xsd:element>
<xsd:complexType name="ExchangeRateType">
<xsd:sequence>
<xsd:element ref="com:SourceCurrencyCode" />
<xsd:element ref="com:SourceCurrencyBaseAmount" minOccurs="0" />
<xsd:element ref="com:TargetCurrencyCode" />
<xsd:element ref="com:TargetCurrencyBaseAmount" minOccurs="0" />
<xsd:element ref="com:ExchangeMarketID" minOccurs="0" />
<xsd:element ref="com:CalculationRateNumeric" />
<xsd:element ref="com:Date" minOccurs="0" />
<xsd:element ref="com:AllowanceCharge" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:ForeignExchangeContract" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="FiBranch" type="com:FiBranchType"></xsd:element>
<xsd:complexType name="FiBranchType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:FinancialInstitution" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="FinancialInstitution" type="com:FinancialInstitutionType"></xsd:element>
<xsd:complexType name="FinancialInstitutionType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ForeignExchangeContract" type="com:ForeignExchangeContractType"></xsd:element>
<xsd:complexType name="ForeignExchangeContractType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
<xsd:element ref="com:TypeCode" minOccurs="0" />
<xsd:element ref="com:ValidityPeriod" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="FreightForwarderParty" type="com:FreightForwarderPartyType"></xsd:element>
<xsd:complexType name="FreightForwarderPartyType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:PartyName" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Address" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:PartyTaxScheme" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Contact" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="HandlingUnitDespatchLine" type="com:HandlingUnitDespatchLineType"></xsd:element>
<xsd:complexType name="HandlingUnitDespatchLineType">
<xsd:sequence>
<xsd:element ref="com:LineID" />
<xsd:element ref="com:OrderLineID" maxOccurs="unbounded" />
<xsd:element ref="com:DespatchedQuantity" />
<xsd:element ref="com:ToFollowQuantity" minOccurs="0" />
<xsd:element ref="com:ToFollowReason" minOccurs="0" />
<xsd:element ref="com:DeliverySchedule" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="HandlingUnitReceiptLine" type="com:HandlingUnitReceiptLineType"></xsd:element>
<xsd:complexType name="HandlingUnitReceiptLineType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:ReceivedQuantity" />
<xsd:element ref="com:ShortQuantity" minOccurs="0" />
<xsd:element ref="com:ShortageActionCode" minOccurs="0" />
<xsd:element ref="com:RejectedQuantity" minOccurs="0" />
<xsd:element ref="com:RejectReasonCode" minOccurs="0" />
<xsd:element ref="com:RejectActionCode" minOccurs="0" />
<xsd:element ref="com:ReceivedDateDateTime" />
<xsd:element ref="com:TimingComplaintCode" minOccurs="0" />
<xsd:element ref="com:ReferencedDespatchLine" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="HazardousItem" type="com:HazardousItemType"></xsd:element>
<xsd:complexType name="HazardousItemType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:PlacardNotation" minOccurs="0" />
<xsd:element ref="com:PlacardEndorsement" minOccurs="0" />
<xsd:element ref="com:AdditionalInformation" minOccurs="0" />
<xsd:element ref="com:UndgCode" minOccurs="0" />
<xsd:element ref="com:FlashpointMeasure" minOccurs="0" />
<xsd:element ref="com:EmergencyTemperatureMeasure" minOccurs="0" />
<xsd:element ref="com:TemperatureMeasure" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:EmergencyProceduresCode" minOccurs="0" />
<xsd:element ref="com:MedicalFirstAidGuideCode" minOccurs="0" />
<xsd:element ref="com:EmsNumberCode" minOccurs="0" />
<xsd:element ref="com:TechnicalName" minOccurs="0" />
<xsd:element ref="com:ContactParty" />
<xsd:element ref="com:SecondaryHazards" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:HazardousTransit" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="HazardousTransit" type="com:HazardousTransitType"></xsd:element>
<xsd:complexType name="HazardousTransitType">
<xsd:sequence>
<xsd:element ref="com:TransportEmergencyCardCode" minOccurs="0" />
<xsd:element ref="com:PackingCriteriaCode" minOccurs="0" />
<xsd:element ref="com:RegulationCode" minOccurs="0" />
<xsd:element ref="com:MaximumTransportTemperatureMeasure" minOccurs="0" />
<xsd:element ref="com:MinimumTransportTemperatureMeasure" minOccurs="0" />
<xsd:element ref="com:InhalationToxicityZoneCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="InvoiceLine" type="com:InvoiceLineType"></xsd:element>
<xsd:element name="ItemMeasurement" type="com:ItemMeasurementType"></xsd:element>
<xsd:complexType name="ItemMeasurementType">
<xsd:sequence>
<xsd:element ref="com:AttributeID" />
<xsd:element ref="com:Measure" minOccurs="0" />
<xsd:element ref="com:Description" />
<xsd:element ref="com:MinimumMeasure" minOccurs="0" />
<xsd:element ref="com:MaximumMeasure" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Item" type="com:ItemType"></xsd:element>
<xsd:complexType name="ItemType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
<xsd:element ref="com:BuyersItemIdentification" minOccurs="0" />
<xsd:element ref="com:SellersItemIdentification" minOccurs="0" />
<xsd:element ref="com:ManufacturersItemIdentification" minOccurs="0" />
<xsd:element ref="com:StandardItemIdentification" minOccurs="0" />
<xsd:element ref="com:CatalogueItemIdentification" minOccurs="0" />
<xsd:element ref="com:ReferencedCatalogue" minOccurs="0" />
<xsd:element ref="com:CommodityClassification" minOccurs="0" />
<xsd:element ref="com:Tax" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:BasePrice" minOccurs="0" maxOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="JurisdictionAddress" type="com:JurisdictionAddressType"></xsd:element>
<xsd:complexType name="JurisdictionAddressType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Postbox" minOccurs="0" />
<xsd:element ref="com:Building" minOccurs="0" />
<xsd:element ref="com:Floor" minOccurs="0" />
<xsd:element ref="com:Room" minOccurs="0" />
<xsd:element ref="com:Street" minOccurs="0" />
<xsd:element ref="com:AdditionalStreet" minOccurs="0" />
<xsd:element ref="com:HouseName" minOccurs="0" />
<xsd:element ref="com:HouseNumber" minOccurs="0" />
<xsd:element ref="com:InhouseMail" minOccurs="0" />
<xsd:element ref="com:Department" minOccurs="0" />
<xsd:element ref="com:CityName" minOccurs="0" />
<xsd:element ref="com:PostalZone" minOccurs="0" />
<xsd:element ref="com:CountrySub-Entity" minOccurs="0" />
<xsd:element ref="com:CountrySub-EntityCode" minOccurs="0" />
<xsd:element ref="com:Region" minOccurs="0" />
<xsd:element ref="com:District" minOccurs="0" />
<xsd:element ref="com:TimezoneOffsetMeasure" minOccurs="0" />
<xsd:element ref="com:Country" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Language" type="com:LanguageType"></xsd:element>
<xsd:complexType name="LanguageType">
<xsd:sequence>
<xsd:element ref="com:ID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="LegalTotals" type="com:LegalTotalsType"></xsd:element>
<xsd:element name="LocationCoordinates" type="com:LocationCoordinatesType"></xsd:element>
<xsd:complexType name="LocationCoordinatesType">
<xsd:sequence>
<xsd:element ref="com:CoordinateSystemCode" minOccurs="0" />
<xsd:element ref="com:LatitudeDegreesMeasure" minOccurs="0" />
<xsd:element ref="com:LatitudeMinutesMeasure" minOccurs="0" />
<xsd:element ref="com:LatitudeDirectionCode" minOccurs="0" />
<xsd:element ref="com:LongitudeDegreesMeasure" minOccurs="0" />
<xsd:element ref="com:LongitudeMinutesMeasure" minOccurs="0" />
<xsd:element ref="com:LongitudeDirectionCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ManufacturersItemIdentification" type="com:ManufacturersItemIdentificationType"></xsd:element>
<xsd:complexType name="ManufacturersItemIdentificationType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="OrderContact" type="com:OrderContactType"></xsd:element>
<xsd:complexType name="OrderContactType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
<xsd:element ref="com:Phone" minOccurs="0" />
<xsd:element ref="com:Fax" minOccurs="0" />
<xsd:element ref="com:E-Mail" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="OrderLine" type="com:OrderLineType"></xsd:element>
<xsd:complexType name="OrderLineType">
<xsd:sequence>
<xsd:element ref="com:BuyersID" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:Note" minOccurs="0" />
<xsd:element ref="com:BuyersReferenceID" minOccurs="0" />
<xsd:element ref="com:DestinationParty" minOccurs="0" />
<xsd:element ref="com:Item" />
<xsd:element ref="com:DeliveryRequirement" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="OrderedPackage" type="com:OrderedPackageType"></xsd:element>
<xsd:complexType name="OrderedPackageType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:ReturnableMaterialIndicator" minOccurs="0" />
<xsd:element ref="com:ContainedPackage" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="OrderedShipment" type="com:OrderedShipmentType"></xsd:element>
<xsd:complexType name="OrderedShipmentType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:ServiceLevelCode" minOccurs="0" />
<xsd:element ref="com:HandlingInstructions" minOccurs="0" />
<xsd:element ref="com:HandlingTypeCode" minOccurs="0" />
<xsd:element ref="com:HandlingCode" minOccurs="0" />
<xsd:element ref="com:Information" minOccurs="0" />
<xsd:element ref="com:GrossWeightMeasure" minOccurs="0" />
<xsd:element ref="com:NetWeightMeasure" minOccurs="0" />
<xsd:element ref="com:NetNetWeightMeasure" minOccurs="0" />
<xsd:element ref="com:GrossVolumeMeasure" minOccurs="0" />
<xsd:element ref="com:NetVolumeMeasure" minOccurs="0" />
<xsd:element ref="com:TransportContract" minOccurs="0" />
<xsd:element ref="com:ShipmentStage" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:TransportEquipment" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:OrderedPackage" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="OriginCountry" type="com:OriginCountryType"></xsd:element>
<xsd:complexType name="OriginCountryType">
<xsd:sequence>
<xsd:element ref="com:Code" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PartyName" type="com:PartyNameType"></xsd:element>
<xsd:element name="PartyTaxScheme" type="com:PartyTaxSchemeType"></xsd:element>
<xsd:complexType name="PartyTaxSchemeType">
<xsd:sequence>
<xsd:element ref="com:CompanyTaxID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PayeeFinancialAccount" type="com:PayeeFinancialAccountType"></xsd:element>
<xsd:element name="PayerFinancialAccount" type="com:PayerFinancialAccountType"></xsd:element>
<xsd:complexType name="PayerFinancialAccountType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:TypeCode" />
<xsd:element ref="com:FiBranch" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PaymentMeans" type="com:PaymentMeansType"></xsd:element>
<xsd:element name="PaymentTerms" type="com:PaymentTermsType"></xsd:element>
<xsd:element name="Payment" type="com:PaymentType"></xsd:element>
<xsd:complexType name="PaymentType">
<xsd:sequence>
<xsd:element ref="com:ID" minOccurs="0" />
<xsd:element ref="com:PaidAmount" minOccurs="0" />
<xsd:element ref="com:ReceivedDate" minOccurs="0" />
<xsd:element ref="com:PaymentMeans" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PenaltyPeriod" type="com:PenaltyPeriodType"></xsd:element>
<xsd:complexType name="PenaltyPeriodType">
<xsd:sequence>
<xsd:element ref="com:StartDateTime" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PhysicalAttribute" type="com:PhysicalAttributeType"></xsd:element>
<xsd:complexType name="PhysicalAttributeType">
<xsd:sequence>
<xsd:element ref="com:AttributeID" />
<xsd:element ref="com:PositionCode" minOccurs="0" />
<xsd:element ref="com:DescriptionID" minOccurs="0" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Quote" type="com:QuoteType"></xsd:element>
<xsd:complexType name="QuoteType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReceiptLine" type="com:ReceiptLineType"></xsd:element>
<xsd:complexType name="ReceiptLineType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:ReceivedQuantity" />
<xsd:element ref="com:ShortQuantity" minOccurs="0" />
<xsd:element ref="com:ReceivedDate" />
<xsd:element ref="com:DeliverySchedule" />
<xsd:element ref="com:ReferencedTransportHandlingUnit" />
<xsd:element name="BuyersItemID" type="com:IdentifierType" minOccurs="0" />
<xsd:element name="SellersItemID" type="com:IdentifierType" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReceivedTransportHandlingUnit" type="com:ReceivedTransportHandlingUnitType"></xsd:element>
<xsd:complexType name="ReceivedTransportHandlingUnitType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:TypeCode" />
<xsd:element ref="com:HandlingUnitReceiptLine" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedCatalogue" type="com:ReferencedCatalogueType"></xsd:element>
<xsd:complexType name="ReferencedCatalogueType">
<xsd:sequence>
<xsd:element ref="com:CatalogueID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedDespatchAdvice" type="com:ReferencedDespatchAdviceType"></xsd:element>
<xsd:complexType name="ReferencedDespatchAdviceType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedDespatchLine" type="com:ReferencedDespatchLineType"></xsd:element>
<xsd:complexType name="ReferencedDespatchLineType">
<xsd:sequence>
<xsd:element ref="com:LineidID" />
<xsd:element ref="com:OrderLineID" maxOccurs="unbounded" />
<xsd:element ref="com:DespatchedQuantity" />
<xsd:element ref="com:ToFollowQuantity" minOccurs="0" />
<xsd:element ref="com:ToFollowActionCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedOrderLine" type="com:ReferencedOrderLineType"></xsd:element>
<xsd:element name="ReferencedOrder" type="com:ReferencedOrderType"></xsd:element>
<xsd:element name="ReferencedReceiptAdvice" type="com:ReferencedReceiptAdviceType"></xsd:element>
<xsd:complexType name="ReferencedReceiptAdviceType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedReceiptLine" type="com:ReferencedReceiptLineType"></xsd:element>
<xsd:complexType name="ReferencedReceiptLineType">
<xsd:sequence>
<xsd:element ref="com:ID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReferencedTransportHandlingUnit" type="com:ReferencedTransportHandlingUnitType"></xsd:element>
<xsd:complexType name="ReferencedTransportHandlingUnitType">
<xsd:sequence>
<xsd:element ref="com:ID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="RegistrationAddress" type="com:RegistrationAddressType"></xsd:element>
<xsd:complexType name="RegistrationAddressType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Postbox" minOccurs="0" />
<xsd:element ref="com:Building" minOccurs="0" />
<xsd:element ref="com:Floor" minOccurs="0" />
<xsd:element ref="com:Room" minOccurs="0" />
<xsd:element ref="com:Street" minOccurs="0" />
<xsd:element ref="com:AdditionalStreet" minOccurs="0" />
<xsd:element ref="com:HouseName" minOccurs="0" />
<xsd:element ref="com:HouseNumber" minOccurs="0" />
<xsd:element ref="com:InhouseMail" minOccurs="0" />
<xsd:element ref="com:Department" minOccurs="0" />
<xsd:element ref="com:CityName" minOccurs="0" />
<xsd:element ref="com:PostalZone" minOccurs="0" />
<xsd:element ref="com:CountrySub-Entity" minOccurs="0" />
<xsd:element ref="com:CountrySub-EntityCode" minOccurs="0" />
<xsd:element ref="com:Region" minOccurs="0" />
<xsd:element ref="com:District" minOccurs="0" />
<xsd:element ref="com:TimezoneOffsetMeasure" minOccurs="0" />
<xsd:element ref="com:Country" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ReplacedOrderLine" type="com:ReplacedOrderLineType"></xsd:element>
<xsd:complexType name="ReplacedOrderLineType">
<xsd:sequence>
<xsd:element ref="com:BuyersID" />
<xsd:element ref="com:LineExtensionAmount" minOccurs="0" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:MinimumQuantity" minOccurs="0" />
<xsd:element ref="com:MaximumQuantity" minOccurs="0" />
<xsd:element ref="com:MaximumBackorderQuantity" minOccurs="0" />
<xsd:element ref="com:MinimumBackorderQuantity" minOccurs="0" />
<xsd:element ref="com:SubstitutionStatusCode" minOccurs="0" />
<xsd:element ref="com:Item" />
<xsd:element ref="com:DeliveryRequirement" />
<xsd:element ref="com:AllowanceCharge" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:BasePrice" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesConditions" type="com:SalesConditionsType"></xsd:element>
<xsd:complexType name="SalesConditionsType">
<xsd:sequence>
<xsd:element ref="com:ConditionID" />
<xsd:element ref="com:ActionCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SecondaryHazards" type="com:SecondaryHazardsType"></xsd:element>
<xsd:complexType name="SecondaryHazardsType">
<xsd:sequence>
<xsd:element ref="com:Code" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SellerParty" type="com:SellerPartyType"></xsd:element>
<xsd:element name="SellersItemIdentification" type="com:SellersItemIdentificationType"></xsd:element>
<xsd:complexType name="SellersItemIdentificationType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SendFromAddress" type="com:SendFromAddressType"></xsd:element>
<xsd:complexType name="SendFromAddressType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Postbox" minOccurs="0" />
<xsd:element ref="com:Building" minOccurs="0" />
<xsd:element ref="com:Floor" minOccurs="0" />
<xsd:element ref="com:Room" minOccurs="0" />
<xsd:element ref="com:Street" minOccurs="0" />
<xsd:element ref="com:AdditionalStreet" minOccurs="0" />
<xsd:element ref="com:HouseName" minOccurs="0" />
<xsd:element ref="com:HouseNumber" minOccurs="0" />
<xsd:element ref="com:InhouseMail" minOccurs="0" />
<xsd:element ref="com:Department" minOccurs="0" />
<xsd:element ref="com:CityName" minOccurs="0" />
<xsd:element ref="com:PostalZone" minOccurs="0" />
<xsd:element ref="com:CountrySub-Entity" minOccurs="0" />
<xsd:element ref="com:CountrySub-EntityCode" minOccurs="0" />
<xsd:element ref="com:Region" minOccurs="0" />
<xsd:element ref="com:District" minOccurs="0" />
<xsd:element ref="com:TimezoneOffsetMeasure" minOccurs="0" />
<xsd:element ref="com:Country" minOccurs="0" />
<xsd:element ref="com:LocationCoordinates" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SettlementPeriod" type="com:SettlementPeriodType"></xsd:element>
<xsd:complexType name="SettlementPeriodType">
<xsd:sequence>
<xsd:element ref="com:EndDateTimeDate" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ShipmentStage" type="com:ShipmentStageType"></xsd:element>
<xsd:complexType name="ShipmentStageType">
<xsd:sequence>
<xsd:element ref="com:StageID" />
<xsd:element ref="com:TransportModeCode" minOccurs="0" />
<xsd:element ref="com:TransportMeansTypeCode" minOccurs="0" />
<xsd:element ref="com:TransitDirectionCode" minOccurs="0" />
<xsd:element ref="com:TransitPeriod" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ShippingContact" type="com:ShippingContactType"></xsd:element>
<xsd:complexType name="ShippingContactType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
<xsd:element ref="com:Phone" minOccurs="0" />
<xsd:element ref="com:Fax" minOccurs="0" />
<xsd:element ref="com:E-Mail" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="StandardItemIdentification" type="com:StandardItemIdentificationType"></xsd:element>
<xsd:complexType name="StandardItemIdentificationType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Description" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SubstituteForOrderLine" type="com:SubstituteForOrderLineType"></xsd:element>
<xsd:complexType name="SubstituteForOrderLineType">
<xsd:sequence>
<xsd:element ref="com:BuyersID" />
<xsd:element ref="com:Quantity" minOccurs="0" />
<xsd:element ref="com:SubstitutionStatusCode" minOccurs="0" />
<xsd:element ref="com:Item" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TaxAmounts" type="com:TaxAmountsType"></xsd:element>
<xsd:element name="TaxScheme" type="com:TaxSchemeType"></xsd:element>
<xsd:complexType name="TaxSchemeType">
<xsd:sequence>
<xsd:element ref="com:ID" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TaxTotal" type="com:TaxTotalType"></xsd:element>
<xsd:complexType name="TaxTotalType">
<xsd:sequence>
<xsd:element ref="com:TaxTypeCode" />
<xsd:element ref="com:TaxAmounts" minOccurs="1" />
<xsd:element ref="com:CategoryTotal" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Tax" type="com:TaxType"></xsd:element>
<xsd:complexType name="TaxType">
<xsd:sequence>
<xsd:element ref="com:RateCategoryCodeID" />
<xsd:element ref="com:TypeCode" />
<xsd:element ref="com:RatePercentNumeric" minOccurs="0" />
<xsd:element ref="com:TaxScheme" minOccurs="0" maxOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TransitPeriod" type="com:TransitPeriodType"></xsd:element>
<xsd:complexType name="TransitPeriodType">
<xsd:sequence>
<xsd:element ref="com:StartDateTimeDate" minOccurs="0" />
<xsd:element ref="com:EndDateTimeDate" minOccurs="0" />
<xsd:element ref="com:DurationMeasure" minOccurs="0" />
<xsd:element ref="com:DescriptionCode" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TransportContract" type="com:TransportContractType"></xsd:element>
<xsd:complexType name="TransportContractType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssueDate" minOccurs="0" />
<xsd:element ref="com:TypeCode" minOccurs="0" />
<xsd:element ref="com:ValidityPeriod" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TransportEquipmentMeasurement" type="com:TransportEquipmentMeasurementType"></xsd:element>
<xsd:complexType name="TransportEquipmentMeasurementType">
<xsd:sequence>
<xsd:element ref="com:AttributeID" />
<xsd:element ref="com:Measure" minOccurs="0" />
<xsd:element ref="com:Description" />
<xsd:element ref="com:MinimumMeasure" minOccurs="0" />
<xsd:element ref="com:MaximumMeasure" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TransportEquipmentSeal" type="com:TransportEquipmentSealType"></xsd:element>
<xsd:complexType name="TransportEquipmentSealType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:IssuerPartyTypeCode" minOccurs="0" />
<xsd:element ref="com:Condition" minOccurs="0" />
<xsd:element ref="com:StatusCode" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TransportEquipment" type="com:TransportEquipmentType"></xsd:element>
<xsd:complexType name="TransportEquipmentType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:ProviderTypeCode" minOccurs="0" />
<xsd:element ref="com:OwnerPartyTypeCode" minOccurs="0" />
<xsd:element ref="com:SizeTypeCode" minOccurs="0" />
<xsd:element ref="com:DispositionCode" minOccurs="0" />
<xsd:element ref="com:FullnessIndicatorCode" minOccurs="0" />
<xsd:element ref="com:RefrigerationStatusIndicator" minOccurs="0" />
<xsd:element ref="com:Information" minOccurs="0" />
<xsd:element ref="com:TransportEquipmentMeasurement" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:TransportEquipmentSeal" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ValidityPeriod" type="com:ValidityPeriodType"></xsd:element>
<xsd:complexType name="ValidityPeriodType">
<xsd:sequence>
<xsd:element ref="com:StartDateTimeDate" minOccurs="0" />
<xsd:element ref="com:EndDateTimeDate" minOccurs="0" />
<xsd:element ref="com:DurationMeasure" minOccurs="0" />
<xsd:element ref="com:DescriptionCode" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AccountCode" type="com:CodeType"></xsd:element>
<xsd:element name="AccountName" type="com:NameType" />
<xsd:element name="ActionCode" type="com:CodeType"></xsd:element>
<xsd:element name="AdditionalInformation" type="com:TextType"></xsd:element>
<xsd:element name="AdditionalStreet" type="com:TextType"></xsd:element>
<xsd:element name="AttributeID" type="com:IdentifierType"></xsd:element>
<xsd:element name="BaseQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="Building" type="com:TextType"></xsd:element>
<xsd:element name="BuyersID" type="com:IdentifierType"></xsd:element>
<xsd:element name="BuyersOrderID" type="com:IdentifierType"></xsd:element>
<xsd:element name="CalculationRateNumeric" type="com:NumericType"></xsd:element>
<xsd:element name="CargoTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="CatalogueID" type="com:IdentifierType"></xsd:element>
<xsd:element name="CatalogueIssueDate" type="com:DateType"></xsd:element>
<xsd:element name="ChargeIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="ChipApplicationID" type="com:IdentifierType"></xsd:element>
<xsd:element name="ChipIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="CityName" type="com:NameType"></xsd:element>
<xsd:element name="Code" type="com:CodeType"></xsd:element>
<xsd:element name="CommodityCode" type="com:CodeType"></xsd:element>
<xsd:element name="CompanyRegistrationID" type="com:IdentifierType"></xsd:element>
<xsd:element name="CompanyTaxID" type="com:taxIdentifierType"></xsd:element>
<xsd:element name="Condition" type="com:TextType"></xsd:element>
<xsd:element name="ConditionID" type="com:IdentifierType"></xsd:element>
<xsd:element name="CoordinateSystemCode" type="com:CodeType"></xsd:element>
<xsd:element name="CountrySub-Entity" type="com:TextType"></xsd:element>
<xsd:element name="CountrySub-EntityCode" type="com:CodeType"></xsd:element>
<xsd:element name="CurrencyCode" type="com:CodeType"></xsd:element>
<xsd:element name="CustomerCode" type="com:CodeType"></xsd:element>
<xsd:element name="Cv2" type="com:TextType"></xsd:element>
<xsd:element name="Date" type="com:DateType"></xsd:element>
<xsd:element name="DeliveredQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="Department" type="com:TextType"></xsd:element>
<xsd:element name="Description" type="com:TextType"></xsd:element>
<xsd:element name="DescriptionCode" type="com:CodeType"></xsd:element>
<xsd:element name="DescriptionID" type="com:IdentifierType"></xsd:element>
<xsd:element name="DespatchedQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="DispositionCode" type="com:CodeType"></xsd:element>
<xsd:element name="District" type="com:TextType"></xsd:element>
<xsd:element name="DurationMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="E-Mail" type="com:emailType"></xsd:element>
<xsd:element name="EmergencyProceduresCode" type="com:CodeType"></xsd:element>
<xsd:element name="EmergencyTemperatureMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="EmsNumberCode" type="com:CodeType"></xsd:element>
<xsd:element name="EndDateTime" type="com:DateTimeType"></xsd:element>
<xsd:element name="EndDateTimeDate" type="com:DateType"></xsd:element>
<xsd:element name="ExchangeMarketID" type="com:IdentifierType"></xsd:element>
<xsd:element name="ExemptionReasonCode" type="com:CodeType"></xsd:element>
<xsd:element name="ExpiryDate" type="com:DateType"></xsd:element>
<xsd:element name="Extension" type="com:TextType"></xsd:element>
<xsd:element name="Fax" type="com:TextType"></xsd:element>
<xsd:element name="FlashpointMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="Floor" type="com:TextType"></xsd:element>
<xsd:element name="FromCatalogIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="FromEventCode" type="com:CodeType"></xsd:element>
<xsd:element name="FullnessIndicatorCode" type="com:CodeType"></xsd:element>
<xsd:element name="GrossVolumeMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="GrossWeightMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="HandlingCode" type="com:CodeType"></xsd:element>
<xsd:element name="HandlingInstructions" type="com:TextType"></xsd:element>
<xsd:element name="HandlingTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="Holder" type="com:TextType"></xsd:element>
<xsd:element name="HouseName" type="com:NameType"></xsd:element>
<xsd:element name="HouseNumber" type="com:TextType"></xsd:element>
<xsd:element name="ID" type="com:IdentifierType"></xsd:element>
<xsd:element name="Information" type="com:TextType"></xsd:element>
<xsd:element name="InhalationToxicityZoneCode" type="com:CodeType"></xsd:element>
<xsd:element name="InhouseMail" type="com:TextType"></xsd:element>
<xsd:element name="InvoicedQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="IssueDate" type="com:DateType"></xsd:element>
<xsd:element name="IssueNumberCode" type="com:CodeType"></xsd:element>
<xsd:element name="IssuerID" type="com:IdentifierType"></xsd:element>
<xsd:element name="IssuerPartyTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="LatitudeDegreesMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="LatitudeDirectionCode" type="com:CodeType"></xsd:element>
<xsd:element name="LatitudeMinutesMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="LineExtensionAmount" type="com:AmountType"></xsd:element>
<xsd:element name="LineExtensionTotalAmount" type="com:AmountType"></xsd:element>
<xsd:element name="LineID" type="com:IdentifierType"></xsd:element>
<xsd:element name="LineidID" type="com:IdentifierType"></xsd:element>
<xsd:element name="LocaleCode" type="com:CodeType"></xsd:element>
<xsd:element name="LongitudeDegreesMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="LongitudeDirectionCode" type="com:CodeType"></xsd:element>
<xsd:element name="LongitudeMinutesMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="LossRisk" type="com:TextType"></xsd:element>
<xsd:element name="MaximumAmount" type="com:AmountType"></xsd:element>
<xsd:element name="MaximumBackorderQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="MaximumMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="MaximumQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="MaximumTransportTemperatureMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="Measure" type="com:MeasureType"></xsd:element>
<xsd:element name="MedicalFirstAidGuideCode" type="com:CodeType"></xsd:element>
<xsd:element name="MinimumAmount" type="com:AmountType"></xsd:element>
<xsd:element name="MinimumBackorderQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="MinimumMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="MinimumQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="MinimumTransportTemperatureMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="MultiplierFactorQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="MultiplierReasonCode" type="com:CodeType"></xsd:element>
<xsd:element name="Name" type="com:NameType"></xsd:element>
<xsd:element name="NatureCode" type="com:CodeType"></xsd:element>
<xsd:element name="NetNetWeightMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="NetVolumeMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="NetWeightMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="Note" type="com:TextType"></xsd:element>
<xsd:element name="OrderLineID" type="com:IdentifierType"></xsd:element>
<xsd:element name="OwnerPartyTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="PackQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="PackSizeQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="PackingCriteriaCode" type="com:CodeType"></xsd:element>
<xsd:element name="PaidAmount" type="com:AmountType"></xsd:element>
<xsd:element name="PaymentChannelCode" type="com:CodeType"></xsd:element>
<xsd:element name="PaymentDueDate" type="com:DateType"></xsd:element>
<xsd:element name="PenaltySurchargeRateNumeric" type="com:NumericType"></xsd:element>
<xsd:element name="Phone" type="com:TextType"></xsd:element>
<xsd:element name="PlacardEndorsement" type="com:TextType"></xsd:element>
<xsd:element name="PlacardNotation" type="com:TextType"></xsd:element>
<xsd:element name="PositionCode" type="com:CodeType"></xsd:element>
<xsd:element name="PostalZone" type="com:postalZoneType"></xsd:element>
<xsd:element name="Postbox" type="com:TextType"></xsd:element>
<xsd:element name="Pre-PaidCollectIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="PriceAmount" type="com:AmountType"></xsd:element>
<xsd:element name="PrimaryAccountNumberID" type="com:IdentifierType"></xsd:element>
<xsd:element name="PromisedByDate" type="com:DateType"></xsd:element>
<xsd:element name="ProviderTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="Quantity" type="com:QuantityType"></xsd:element>
<xsd:element name="RateCategoryCodeID" type="com:RateCategoryCodeIDType"></xsd:element>
<xsd:element name="RatePercentNumeric" type="com:NumericType"></xsd:element>
<xsd:element name="ReceivedDate" type="com:DateType"></xsd:element>
<xsd:element name="ReceivedDateDateTime" type="com:DateTimeType"></xsd:element>
<xsd:element name="ReceivedQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="RefrigerationStatusIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="Region" type="com:TextType"></xsd:element>
<xsd:element name="RegistrationName" type="com:NameType"></xsd:element>
<xsd:element name="RegulationCode" type="com:CodeType"></xsd:element>
<xsd:element name="RejectActionCode" type="com:CodeType"></xsd:element>
<xsd:element name="RejectReasonCode" type="com:CodeType"></xsd:element>
<xsd:element name="RejectedQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="RelevantLocation" type="com:TextType"></xsd:element>
<xsd:element name="RequestedDeliveryDateTime" type="com:DateDateTimeType"></xsd:element>
<xsd:element name="ReturnableMaterialIndicator" type="com:IndicatorType"></xsd:element>
<xsd:element name="RiskResponsibilityCode" type="com:CodeType"></xsd:element>
<xsd:element name="Room" type="com:TextType"></xsd:element>
<xsd:element name="SellersID" type="com:IdentifierType"></xsd:element>
<xsd:element name="SellersOrderID" type="com:IdentifierType"></xsd:element>
<xsd:element name="SequenceValueNumeric" type="com:NumericType"></xsd:element>
<xsd:element name="ServiceLevelCode" type="com:CodeType"></xsd:element>
<xsd:element name="ServicelevelCode" type="com:CodeType"></xsd:element>
<xsd:element name="SettlementDiscountRateNumeric" type="com:NumericType"></xsd:element>
<xsd:element name="ShortQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="ShortageActionCode" type="com:CodeType"></xsd:element>
<xsd:element name="SizeTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="SourceCurrencyBaseAmount" type="com:AmountType"></xsd:element>
<xsd:element name="SourceCurrencyCode" type="com:CodeType"></xsd:element>
<xsd:element name="SpecialTerms" type="com:TextType"></xsd:element>
<xsd:element name="StageID" type="com:IdentifierType"></xsd:element>
<xsd:element name="StartDateTime" type="com:DateTimeType"></xsd:element>
<xsd:element name="StartDateTimeDate" type="com:DateType"></xsd:element>
<xsd:element name="StatusCode" type="com:CodeType"></xsd:element>
<xsd:element name="Street" type="com:TextType"></xsd:element>
<xsd:element name="SubstitutionStatusCode" type="com:CodeType"></xsd:element>
<xsd:element name="TargetCurrencyBaseAmount" type="com:AmountType"></xsd:element>
<xsd:element name="TargetCurrencyCode" type="com:CodeType"></xsd:element>
<xsd:element name="TaxAmount" type="com:AmountType"></xsd:element>
<xsd:element name="TaxLevelCode" type="com:CodeType"></xsd:element>
<xsd:element name="TaxTypeCode" type="com:TaxCodeType"></xsd:element>
<xsd:element name="TaxableAmount" type="com:AmountType"></xsd:element>
<xsd:element name="TechnicalName" type="com:NameType"></xsd:element>
<xsd:element name="TemperatureMeasure" type="com:MeasureType"></xsd:element>
<xsd:element name="TimezoneOffsetMeasure" type="com:TextType"></xsd:element>
<xsd:element name="TimingComplaintCode" type="com:CodeType"></xsd:element>
<xsd:element name="ToBePaidTotalAmount" type="com:AmountType"></xsd:element>
<xsd:element name="ToFollowActionCode" type="com:CodeType"></xsd:element>
<xsd:element name="ToFollowQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="ToFollowReason" type="com:TextType"></xsd:element>
<xsd:element name="TofollowQuantity" type="com:QuantityType"></xsd:element>
<xsd:element name="TofollowReason" type="com:TextType"></xsd:element>
<xsd:element name="TransitDirectionCode" type="com:CodeType"></xsd:element>
<xsd:element name="TransportEmergencyCardCode" type="com:CodeType"></xsd:element>
<xsd:element name="TransportMeansTypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="TransportModeCode" type="com:CodeType"></xsd:element>
<xsd:element name="TypeCode" type="com:CodeType"></xsd:element>
<xsd:element name="TypeCodeID" type="com:TypeCodeIDType"></xsd:element>
<xsd:element name="UndgCode" type="com:CodeType"></xsd:element>
<xsd:element name="SignatureID" type="com:IdentifierType"></xsd:element>
<xsd:element name="ValidatorID" type="com:IdentifierType"></xsd:element>
<xsd:element name="Signature" type="com:TextType"></xsd:element>
<xsd:element name="ValidationDateTime" type="com:DateTimeType"></xsd:element>
<xsd:complexType name="ValidatedSignatureType" mixed="false">
<xsd:sequence>
<xsd:element ref="com:SignatureID" />
<xsd:element ref="com:ValidatorID" />
<xsd:element ref="com:ValidationDateTime" />
<xsd:element ref="com:Signature" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ExtensibleContent" type="com:ExtensibleContentType"></xsd:element>
<xsd:element name="ValidatedSignature" type="com:ValidatedSignatureType"></xsd:element>
<xsd:element name="BuyersReferenceID" type="com:BuyersReferenceIDType"></xsd:element>
<xsd:complexType name="BuyersReferenceIDType">
<xsd:simpleContent>
<xsd:extension base="com:IdentifierType">
<xsd:attribute name="identificationSchemeName" type="xsd:token" use="optional" default="EANC"></xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ExtensibleContentType">
<xsd:sequence>
<xsd:any namespace="##other" processContents="skip"></xsd:any>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentAdviceType">
<xsd:sequence>
<xsd:element ref="com:LongAdvice" minOccurs="0" />
<xsd:element ref="com:AccountToAccount" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PaymentID" type="com:IdentifierPaymentType"></xsd:element>
<xsd:element name="LongAdvice" type="com:TextType"></xsd:element>
<xsd:element name="AccountToAccount" type="com:AccountToAccountType"></xsd:element>
<xsd:complexType name="AccountToAccountType">
<xsd:sequence>
<xsd:element ref="com:PayerNote" minOccurs="0" />
<xsd:element ref="com:PayeeNote" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="PaymentAdvice" type="com:PaymentAdviceType"></xsd:element>
<xsd:element name="PayerNote" type="com:TextType"></xsd:element>
<xsd:element name="PayeeNote" type="com:TextType"></xsd:element>
<xsd:element name="Role" type="com:RoleType"></xsd:element>
<xsd:complexType name="RoleType">
<xsd:simpleContent>
<xsd:extension base="com:CodeType"></xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="AllowanceChargeAmount" type="com:AmountType"></xsd:element>
<xsd:element name="RateAmount" type="com:AmountType"></xsd:element>
<xsd:element name="JointPaymentID" type="com:IdentifierType"></xsd:element>
<xsd:complexType name="InvoiceLineType">
<xsd:sequence>
<xsd:element ref="com:ID" minOccurs="0" />
<xsd:element ref="com:InvoicedQuantity" minOccurs="1" />
<xsd:element ref="com:LineExtensionAmount" minOccurs="1" />
<xsd:element ref="com:Note" minOccurs="0" />
<xsd:element ref="com:ReferencedOrderLine" minOccurs="0" maxOccurs="1" />
<xsd:element ref="com:AllowanceCharge" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Item" minOccurs="1" maxOccurs="1" />
<xsd:element ref="com:BasePrice" minOccurs="1" />
<xsd:element ref="com:ExtensibleContent" minOccurs="0" maxOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReferencedOrderLineType">
<xsd:sequence>
<xsd:element ref="com:BuyersID" />
<xsd:element ref="com:SellersID" />
<xsd:element ref="com:DestinationParty" minOccurs="0" maxOccurs="1" />
<xsd:element ref="com:Item" />
<xsd:element ref="com:DeliveryRequirement" />
<xsd:element ref="com:AllowanceCharge" minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TaxAmountsType">
<xsd:sequence>
<xsd:element ref="com:TaxableAmount" minOccurs="1" />
<xsd:element ref="com:TaxAmount" minOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReferencedOrderType">
<xsd:sequence>
<xsd:element ref="com:BuyersOrderID" minOccurs="1" maxOccurs="1" />
<xsd:element ref="com:SellersOrderID" minOccurs="0" maxOccurs="1" />
<xsd:element ref="com:IssueDate" minOccurs="1" maxOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BuyerContactType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:Name" minOccurs="0" />
<xsd:element ref="com:Phone" minOccurs="0" />
<xsd:element ref="com:Fax" minOccurs="0" />
<xsd:element ref="com:E-Mail" minOccurs="0" />
<xsd:element ref="com:Role" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LegalTotalsType">
<xsd:sequence>
<xsd:element ref="com:LineExtensionTotalAmount" minOccurs="1" />
<xsd:element ref="com:ToBePaidTotalAmount" minOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentTermsType">
<xsd:sequence>
<xsd:element ref="com:ID" minOccurs="1" />
<xsd:element ref="com:RateAmount" minOccurs="1" />
<xsd:element ref="com:SettlementDiscountRateNumeric" minOccurs="0" />
<xsd:element ref="com:PenaltySurchargeRateNumeric" minOccurs="0" />
<xsd:element ref="com:SettlementPeriod" minOccurs="0" />
<xsd:element ref="com:PenaltyPeriod" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentMeansType">
<xsd:sequence>
<xsd:element ref="com:TypeCodeID" />
<xsd:element ref="com:PaymentDueDate" minOccurs="0" />
<xsd:element ref="com:PaymentChannelCode" minOccurs="0" />
<xsd:element ref="com:PaymentID" minOccurs="0" />
<xsd:element ref="com:JointPaymentID" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:PayeeFinancialAccount" minOccurs="0" />
<xsd:element ref="com:PaymentAdvice" minOccurs="0" />
<xsd:element ref="com:ExtensibleContent" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PartyNameType">
<xsd:sequence>
<xsd:element ref="com:Name" minOccurs="1" maxOccurs="1" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SellerPartyType">
<xsd:sequence>
<xsd:element ref="com:ID" minOccurs="1" />
<xsd:element ref="com:BuyersID" minOccurs="0" />
<xsd:element ref="com:PartyName" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="com:Address" minOccurs="0" maxOccurs="2" />
<xsd:element ref="com:PartyTaxScheme" minOccurs="1" maxOccurs="1" />
<xsd:element ref="com:OrderContact" minOccurs="0" />
<xsd:element ref="com:ExtensibleContent" minOccurs="0" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PayeeFinancialAccountType">
<xsd:sequence>
<xsd:element ref="com:ID" />
<xsd:element ref="com:TypeCode" />
<xsd:element ref="com:FiBranch" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DateDateTimeType">
		<xsd:simpleContent>
			<xsd:extension base="com:UnionDateTimeType">
				<xsd:attributeGroup ref="com:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="UnionDateTimeType">
		<xsd:union memberTypes="xsd:date xsd:dateTime"/>
	</xsd:simpleType>
</xsd:schema>
