cosmobiz/CosmoBizEnginePrototype1/impl/OrchestrationExample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
	<xs:element name="processes">
		<xs:complexType>
	    <xs:choice minOccurs="0" maxOccurs="unbounded">
	      <xs:element name="process" type="processType" />
	    </xs:choice>    		
    </xs:complexType>
  </xs:element>


  <xs:complexType name="processType" mixed="true">
	  <xs:group ref="groupStructured" minOccurs="0" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="text" type="xs:string" use="required" />	  
  </xs:complexType>
     
  <xs:complexType name="sequenceType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="sequence" type="sequenceType" />
      <xs:element name="if" type="ifType" />      
      <xs:element name="tasklet" type="taskletType" />
    </xs:choice>    
  </xs:complexType>     
    
  <xs:complexType name="conditionType" mixed="true">
	  <xs:simpleContent>
	    <xs:extension base="xs:string">
	    </xs:extension>
	  </xs:simpleContent>
  </xs:complexType>         
  
  <xs:complexType name="elseType" mixed="true">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="sequence" type="sequenceType" />
      <xs:element name="if" type="ifType" />      
      <xs:element name="tasklet" type="taskletType" />
    </xs:choice>
  </xs:complexType>              
  
  <xs:complexType name="elseIfType" mixed="true">
    <xs:sequence minOccurs="1" maxOccurs="1">
    	<xs:element name="condition" type="conditionType" minOccurs="1" maxOccurs="1" />
	    <xs:choice minOccurs="1" maxOccurs="1">
	      <xs:element name="sequence" type="sequenceType" />
	      <xs:element name="if" type="ifType" />      
	      <xs:element name="tasklet" type="taskletType" />
	    </xs:choice>    
    </xs:sequence>
  </xs:complexType>   
  
  
  <xs:complexType name="ifType" mixed="true">
    <xs:sequence minOccurs="1" maxOccurs="1">
    	<xs:element name="condition" type="conditionType" minOccurs="1" maxOccurs="1" />
	    <xs:choice minOccurs="1" maxOccurs="1">
	      <xs:element name="sequence" type="sequenceType" />
	      <xs:element name="if" type="ifType" />      
	      <xs:element name="tasklet" type="taskletType" />
	    </xs:choice>    
	  <xs:element name="elseif" type="elseIfType" minOccurs="0" maxOccurs="unbounded"/>	    
		<xs:element name="else" type="elseType" minOccurs="0" maxOccurs="1"/>	    
    </xs:sequence>
  </xs:complexType>   
  
  <xs:complexType name="taskletType" mixed="true">
    <xs:sequence minOccurs="0">
    	<xs:element name="input" type="inputType" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="output" type="outputType" minOccurs="0" maxOccurs="unbounded" />
    	<xs:element name="actions" type="actionsType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>    
    <xs:attribute name="assembly" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="inputType" mixed="true">
	  <xs:attribute name="type" type="xs:string" use="required" />
	  <xs:attribute name="name" type="xs:string" use="required" />
	  <xs:attribute name="value" type="xs:string" use="required" />  
  </xs:complexType>
  
  <xs:complexType name="outputType" mixed="true">
	  <xs:simpleContent>
	    <xs:extension base="xs:string">
	      <xs:attribute name="name" type="xs:string" use="required" />
	      <xs:attribute name="type" type="xs:string" use="required" />
	    </xs:extension>
	  </xs:simpleContent>
  </xs:complexType>  
 
    
  <xs:complexType name="actionsType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element name="open" type="openType"/>
    	<xs:element name="group" type="groupType"/>
    	<xs:element name="exitOrchestration" type="exitOrchestrationType"/>
    </xs:choice>    	
  </xs:complexType>  
  
  
  
  <xs:complexType name="actionType" mixed="true">
  	<xs:attribute name="text" type="xs:string" use="required" />
  	<xs:attribute name="priority" type="xs:integer"/>
  </xs:complexType>  
  


  
  <xs:complexType name="openType" mixed="true">
	  <xs:complexContent>
	    <xs:extension base="actionType">
		    <xs:sequence minOccurs="0">
		    	<xs:element name="input" type="inputType" minOccurs="0" maxOccurs="unbounded" />
		    </xs:sequence>    	    
		    <xs:attribute name="orchestration" type="xs:string" use="required" />
		    <xs:attribute name="tasklet" type="xs:string" use="required" />   		    
		  </xs:extension>
		</xs:complexContent>
  </xs:complexType>  
  
  
  <xs:complexType name="groupType" mixed="true">
  	<xs:complexContent>
	  	<xs:extension base="actionType">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
		    	<xs:element name="open" type="openType"/>
		    	<xs:element name="group" type="groupType"/>
		    	<xs:element name="exitOrchestration" type="exitOrchestrationType"/>
		    </xs:choice>    		
		    <xs:attribute name="name" type="xs:string" use="required" />
		    <xs:attribute name="type" type="xs:string" use="required" />		    
		  </xs:extension>
		</xs:complexContent>
  </xs:complexType>  
  
      
  
  <xs:complexType name="exitOrchestrationType" mixed="true">
  	<xs:complexContent>
	    <xs:extension base="actionType">
	    </xs:extension>
	  </xs:complexContent>
  </xs:complexType>
    
      
  <xs:group name="groupStructured">
    <xs:choice>
      <xs:element name="sequence" type="sequenceType" />
      <xs:element name="if" type="ifType" />      
      <xs:element name="tasklet" type="taskletType" />
    </xs:choice>
  </xs:group>
</xs:schema>